.main-form {
  display: flex;
  flex-direction: column;
}
form {
  display: inline-block;
}
.field {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-around;
}
label {
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  transform: translateY(-2px);
  pointer-events: none;
}

.error {
  color: red;
}
/* input:focus + label {
  transform: translateY(-2px);
} */
